snippet im "![](assets/)"
![](assets/${1})
${0}
endsnippet
snippet cs "```css```"
\`\`\`css
$1
\`\`\`
$0
endsnippet
snippet js "```javascript```"
\`\`\`javascript
$1
\`\`\`
$0
endsnippet
snippet ht "```html```"
\`\`\`html
$1
\`\`\`
$0
endsnippet

