'.platform-win32, .platform-linux':
    'ctrl-\\'       : 'fuzzy-finder:toggle-file-finder'
    'ctrl-k ctrl-g' : 'window:toggle-right-dock'
    'ctrl-k ctrl-m' : 'window:toggle-bottom-dock'
'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
    'ctrl-alt-/'   : 'atom-alignment:align'
    'ctrl-shift-I' : 'unset!'
    'ctrl-alt-i'   : 'auto-indent:apply'
'atom-text-editor':
    'alt-down' : 'expand-region:shrink'
    'alt-up'   : 'expand-region:expand'
    'alt-z'    : 'editor:toggle-soft-wrap'
    'ctrl-;'   : 'editor:move-to-end-of-screen-line'
    'ctrl-i'   : 'editor:move-to-first-character-of-line'
    'ctrl-h'   : 'core:move-left'
    'ctrl-l'   : 'core:move-right'
    'ctrl-n'   : 'core:move-down'
    'ctrl-p'   : 'core:move-up'
'atom-text-editor.autocomplete-active':
    'ctrl-n' : 'core:move-down'
    'ctrl-p' : 'core:move-up'
'atom-text-editor:not([mini])':
    'ctrl-shift-M' : 'unset!'
    'ctrl-k ctrl-k': 'editor:delete-line'
'atom-workspace atom-text-editor':
  'ctrl-alt-l' : 'editor:select-line'
