'.source.js':
    # 微信小程序
    'showToast':
        'prefix': 'wxst'
        'body': '''
                    wx.showToast({
                        title: '${1:成功}',
                        icon: '${2:success}${3:loading}',
                        mask: ${4:false},
                        duration: ${5:2000}
                    })$0;
                '''
    'showModal':
        'prefix': 'wxsm'
        'body': '''
                    wx.showModal({
                        title: '提示',
                        content: '这是一个模态弹窗',
                        success: function(res) {
                            if (res.confirm) {
                                console.log('用户点击确定');
                            } else if (res.cancel) {
                                console.log('用户点击取消');
                            }
                        }
                    });
                '''
    # react-native
    'RN-Image require':
        'prefix': 'rnimage-require'
        'body': '''
                    <Image source={require(${1})} style={${2}}/>$0
                '''
    'RN-Image uri':
        'prefix': 'rnimage-uri'
        'body': '''
                    <Image source={{uri: '${1}'}} style={{width: ${2}, height: ${3}}} />$0
                '''
