"*":
  "atom-alignment":
    alignmentSpaceChars: [
      "=>"
      ":="
      "="
      ":"
    ]
  core:
    customFileTypes:
      "source.css": "wxss"
      "text.html.basic": "wxml"
    telemetryConsent: "no"
  editor:
    fontFamily: "DejaVuSansMono NF"
    fontSize: 12
    showIndentGuide: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "git-diff-details":
    closeAfterCopy: true
    enableSyntaxHighlighting: true
    keepViewToggled: false
  jsonlint:
    hideOnNoErrors: true
  linter:
    lintOnChange: false
  "linter-ui-default":
    panelHeight: 68
    showPanel: true
  minimap:
    autoToggle: false
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "open-in-browsers":
    BrowserPlus: false
    Opera: false
    Safari: false
    fileTypes: [
      "html"
      "htm"
      "xhtml"
      "md"
      "markdown"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  welcome:
    showOnStartup: false
